body {
    background: #e8e8e8;
}

.custom-login-page h4{
    text-align: center;
}

.custom-login-page2 {
    background: #d1d1d1;
    margin-top: 20px;
    width: 50%;
    height: 490px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 15px;
}

.custom-login-page3 {
    width: 75%;
    top: 220px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.login-buttons {
    position: absolute;
    left: 50%;
    margin: 25px -50% 0 0;
    transform: translate(-50%, -50%)
}


.custom-login-page button {
    padding: 0.375rem 1.5rem;
}

.custom-login-page a {
    padding: 0.375rem 1.5rem;
}

.custom-registration-page h4{
    text-align: center;
    margin-bottom: 20px;

}

.auth-alert {
    margin-top: 111px;
    width: 75%;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.custom-registration-page2 {
    background: #d1d1d1;
    margin-top: 20px;
    width: 50%;
    height: 490px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 15px;
}

.custom-registration-page3 {
    width: 75%;
    top: 220px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.registration-buttons {
    position: absolute;
    left: 50%;
    margin: 25px -50% 0 0;
    transform: translate(-50%, -50%)
}

.custom-registration-page button {
    padding: 0.375rem 1.5rem;
}

.custom-registration-page a {
    padding: 0.375rem 1.5rem;
}

.custom-logout button {
    padding-left: 35px;
    padding-right: 37%;
    border: none;
    background: none;
}

.custom-brand-h5 h5 {
    color: #bababa;
}

.list-of-users h4 {
    text-align: center;
    padding-bottom: 35px;
}

.header-navbar {
    height: 50px;
}

.header-navbar h5 {
    color: #e5e5e5;
}

.loginBtn a {
    color: #bababa;
    text-decoration: none;
}

.loginBtn button {
    background-color: black;
}

.custom-name ul {
    width: 5px;
}

.custom-menu a {
    color: #bababa;
}

.custom-menu a:active {
    background: #e9ecef;
}


.custom-menu a:hover {
    color: #bababa;
}

#dropdownMenuLink {
    background-color: black;
}

.custom-name h5 {
    color: #bababa;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -50px;
    margin-top: 0.125rem;
}

.dropdown-menu p {
    text-align: center;
    color: black;
    border-radius: 1px;
}

.custom-login-page h4 {
    margin-bottom: 20px;
}

.editBtn a {
    color: black;
    text-decoration: none;
}

.editBtn button {
    width: 100%;
    background-color: #bababa;
    border-radius: 0px;
}

.editBtn2 button {
    width: 100%;
    height: 50px;
    background-color: #bababa;
    border: none;
}

.row {
    --bs-gutter-y: -10px;
}

.delBtn {
    height: 35px;
    width: 100%;
    background-color: #bababa;
    border: none;
}

.masterPasswordBtn button {
    width: 100%;
    background-color: #bababa;
    border-radius: 0px;
}

.container.mt-5 h5{
    max-width: 550px;
}

.registration-message {
    height: 100%;
    margin-top: 580px;
    right: 500px;
}
